<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - StudentDetails</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/StudentDetails.styles.css" asp-append-version="true" />
</head>
<body>
    <header> 
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container-fluid">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">StudentDetails</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1 align-itmes-center">
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Students" asp-action="List">All students</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Students" asp-action="Add">Add student</a>
                        </li>

                        <li class="nav-item afterlogin"  style="display:flex;">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Students" asp-action="Login" onclick="login">Login</a>
                        </li> 

                        <li class="nav-item loginusername" id="Name"  style="visibility:hidden; display:none; ">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Students" asp-action="Logout"> </a>
                        </li>

                        <li class="nav-item logoutbutton" style="visibility: hidden ; display:flex;">
                            <a class="nav-link text-dark"  onclick="logoutFunction()">Logout</a>
                        </li>

                    </ul>
                </div>
            </div>
        </nav>
    </header>
    
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2024 - StudentDetails - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
    <style>
        .navbar .navbar-collapse .navbar-nav {
            align-items: center;
            
        }
    </style>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
    <script>

        const accesstoken = localStorage.getItem('accessToken');
        var username = localStorage.getItem('userName');
        window.onload = function () {
           
                logoutuser();
            
           
        };
      
        var button = document.querySelector('.logoutbutton');
        var afterlogIn = document.querySelector('.afterlogin');
        var logInusername = document.querySelector('.loginusername')


        function logoutuser() {
            
            
            if (accesstoken) {
                button.style.visibility = "visible";
            }
                if (username) {
                    afterlogIn.style.display = "none";
                    document.getElementById("Name").innerHTML = "Hello " + username;
                    logInusername.style.visibility = "visible";
                    logInusername.style.display = "flex";
                }
            
           

        }
        function logoutFunction(){
            
            localStorage.removeItem('accessToken');
            localStorage.removeItem('userName');
            // logInusername.style.visibility="hidden";
            // logInusername.style.display="none";
            // afterlogIn.style.display = "flex";
            // button.style.visibility = "hidden";
            window.location.href = '@Url.Action("Login", "Students")';
        }
        
       
    </script>
</body>
</html>
